<nav class=" bg-white ">
  <div class="container">

   
    <div class="nav-top d-flex align-items-center justify-content-between gap-3 flex-wrap">

     
    
      <app-header></app-header>

      <!-- الأكشنز -->
      <div class="nav-actions d-flex align-items-center gap-2">
        @if(language()=='ar'){
          <a class="fw-bold" (click)="changeLanguage('en')">English</a>
        }@else{
          <a class="fw-bold" (click)="changeLanguage('ar')">العربية</a>
        }

        <a href="/chats-page">
          <img src="images/navbar/chat.svg">
        </a>

        <a href="/notifications">
          <img src="images/navbar/notifications.svg">
        </a>

        @if(userInfo()){
          <app-user-info></app-user-info>
        }@else{
          <a class="fw-bold" (click)="goToLoginLink()">
            {{ 'auth.login' | translate }}
          </a>
        }

        <button class="btn btn-outline-dark" (click)="onPostAdClick()">
          {{ 'postAd' | translate }}
        </button>
      </div>

    </div>

    <!-- الصف السفلي: البحث لوحده -->
    <div class="nav-search">
      <app-search></app-search>
    </div>

  </div>
</nav>
