.paginator {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  padding: 10px 0;
  button {
    border: 0;
    border: 1px solid rgba(220, 20, 60, 0.259);
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      background-color: var(--text-main-color);
      color: white;
      font-weight: bold;
    }
  }
  select {
    margin-left: 4px;
  }
}
