<div class="ad-categories categories-{{language()}}">

  <!-- ========== Mobile: Accordion ========== -->
  <div class="d-md-none">
    @for (cat of categories(); track cat?.id) {
      <div class="acc-item">
        <!-- صف الفئة الرئيسية -->
        <a
          class="td d-flex justify-content-between align-items-center gap-2"
          (click)="selectCategory(cat?.id)"
          [class.active]="categoryId()==cat?.id"
        >
          <div class="d-flex align-items-center gap-3">
            <div class="cat-img d-flex justify-content-center align-items-center rounded">
              <img [src]="cat?.image" width="22" [alt]="cat?.name_L1" lazy>
            </div>
            <p class="m-0 fs-6-1 ellipsis">
              {{ language()=='ar' ? cat?.name : cat?.name_L1 }}
            </p>
          </div>

          <i class="pi" [ngClass]="categoryId()==cat?.id ? 'pi-angle-down' : 'pi-angle-left'"></i>
        </a>

        <!-- SubCategories تحت الفئة المختارة -->
        <div
          class="sublist level-1"
          *ngIf="categoryId()==cat?.id && subCategories()?.length"
        >
          @for (sub of subCategories(); track sub?.id) {
            @if($index>0){
              <a
                class="td d-flex justify-content-between align-items-center gap-2"
                (click)="selectSubCategory(sub?.id)"
                [class.active]="subCategoryId()==sub?.id"
              >
                <p class="m-0 fs-6-1 ellipsis">
                  {{ language()=='ar' ? sub?.name : sub?.name_L1 }}
                </p>

                <i class="pi" [ngClass]="subCategoryId()==sub?.id ? 'pi-angle-down' : 'pi-angle-left'"></i>
              </a>

              <!-- SecondSubCategory تحت الفرعية المختارة -->
              <div
                class="sublist level-2"
                *ngIf="subCategoryId()==sub?.id && secondSubCategory()?.length"
              >
                @for (sec of secondSubCategory(); track sec?.id) {
                  @if($index>0){
                    <a
                      class="td d-flex justify-content-between align-items-center gap-2"
                      [class.active]="secondSubCategoryId()==sec?.id"
                      (click)="secondSubCategoryId.set(sec?.id); sellAd(sec?.id)"
                    >
                      <p class="m-0 fs-6-1 ellipsis">
                        {{ language()=='ar' ? sec?.name : sec?.name_L1 }}
                      </p>
                    </a>
                  }
                }
              </div>
            }
          }
        </div>
      </div>
    }
  </div>

  <!-- ========== Desktop: 3 Columns (كما هو) ========== -->
  <div class="row m-0 d-none d-md-flex">
    <div class="col-12 col-md-4 p-0">
      @for (item of categories(); track $index) {
        <a
          class="td d-flex justify-content-between align-items-center gap-2"
          (click)="selectCategory(item?.id)"
          [class.active]="categoryId()==item?.id"
        >
          <div class="d-flex align-items-center gap-3">
            <div class="cat-img d-flex justify-content-center align-items-center rounded">
              <img [src]="item?.image" width="22" [alt]="item?.name_L1" lazy>
            </div>
            <p class="m-0 fs-6-1 ellipsis">
              {{ language()=='ar' ? item?.name : item?.name_L1 }}
            </p>
          </div>
          @if(item.children?.length){ <i class="pi pi-angle-right fs-5"></i> }
        </a>
      }
    </div>

    @if(subCategories()?.length){
      <div class="col-12 col-md-4 p-0 border-col">
        @for (item of subCategories(); track $index) {
          @if($index>0){
            <a
              class="td d-flex justify-content-between align-items-center gap-2"
              (click)="selectSubCategory(item?.id)"
              [class.active]="subCategoryId()==item?.id"
            >
              <p class="m-0 fs-6-1 ellipsis">
                {{ language()=='ar' ? item?.name : item?.name_L1 }}
              </p>
              @if(item?.children.length){ <i class="pi pi-angle-right fs-5"></i> }
            </a>
          }
        }
      </div>
    }

    @if(secondSubCategory()?.length){
      <div class="col-12 col-md-4 p-0 border-col">
        @for (item of secondSubCategory(); track $index) {
          @if($index>0){
            <a
              class="td d-flex justify-content-between align-items-center gap-2"
              [class.active]="secondSubCategoryId()==item?.id"
              (click)="secondSubCategoryId.set(item?.id); sellAd(item?.id)"
            >
              <p class="m-0 fs-6-1 ellipsis">
                {{ language()=='ar' ? item?.name : item?.name_L1 }}
              </p>
            </a>
          }
        }
      </div>
    }
  </div>

</div>
