.dropdown-wrapper {
  position: relative;
  // width: 240px;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  background: white;
  cursor: pointer;
}

.dropdown-label {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.dropdown-label.placeholder-label {
  color: #8e8e8e;
  font-size: 0.95rem;
}

.arrow {
  font-size: 0.8rem;
  color: #777;
}

.dropdown-panel {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  // border: 1px solid #ccc;
  background: white;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 0.7rem;
  border-radius: 0 0 0.375rem 0.375rem;
}

.dropdown-search {
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.dropdown-actions button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.85rem;
}

.dropdown-item {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.dropdown-items {
  max-height: 180px;
  overflow-y: auto;
}
.no-results {
  padding: 8px;
  color: #999;
  font-style: italic;
}
