// English Font
/*
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Arabic Font
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-bg);
  font-family: "Roboto", sans-serif;
  // font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
  color: #111;
  cursor: pointer;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.dropdown-toggle:after {
  display: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

.text-main-color {
  color: var(--text-main-color);
}
input:checked {
  accent-color: var(--text-main-color);
}

.fs-6-1 {
  font-size: 0.9rem;
}

.fs-6-2 {
  font-size: 0.87rem;
}
