::-webkit-scrollbar {
  width: 0.3125rem;
}

::-moz-scrollbar {
  width: 0.3125rem;
}

::-o-scrollbar {
  width: 0.3125rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.25rem;
}

::-moz-scrollbar:horizontal {
  height: 0.25rem;
}

::-o-scrollbar:horizontal {
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dc143c10;
  border-radius: 10px;
}

::-moz-scrollbar-track {
  background: #dc143c10;
  border-radius: 10px;
}

::-o-scrollbar-track {
  background: #dc143c10;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc143c4d;
  opacity: 0.7;
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background: #dc143c4d;
  opacity: 0.7;
  border-radius: 10px;
}

::-o-scrollbar-thumb {
  background: #dc143c4d;
  opacity: 0.7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc143c4d;
}

::-moz-scrollbar-thumb:hover {
  background: #dc143c4d;
}

::-o-scrollbar-thumb:hover {
  background: #dc143c4d;
}

.p-scroller,
.p-dropdown-items-wrapper {
  margin: 5px 10px !important;
  &::-webkit-scrollbar-thumb {
    background: #dc143c4d;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    max-height: 80% !important;
  }
}
