.carousel-indicators {
  margin-bottom: 0;
  [data-bs-target] {
    height: 2.5px;
    background-color: #fff;
  }
}
.carousel-item {
  transition: opacity 1s ease-in-out;

  img {
    height: 260px;
    transition: opacity 1s ease-in-out;
  }
}
.carousel{
  width:100%;
  

  
}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
}


// #carouselExampleDark {
//   margin: auto;
//   border-radius: 16px;

  
//   width: 110%;

//   @media (min-width: 768px) {
//     width: 95%;
//   }

//   @media (min-width: 1200px) {
//     width: 70%;
//   }
// }
