<nav *ngIf="!isMobile()" class="navbar-links py-6 my-6 pt-2"
     style="padding-bottom:1px; box-shadow:0 8px 16px -8px #00000024;">

  <div class="container">
    <ul class="d-flex justify-content-between gap-1 flex-wrap categories-icons-bar">

      @defer (when !isLoading()) {
        @for (item of categories(); track $index) {
          @if ($index < 9) {
            <li class="category-with-icon">

              <!-- الأيقونة (static) -->
              <i class="pi pi-car category-icon"></i>

              <!-- نفس الـ component زي ما هو -->
              <app-drop-menu
                ngSkipHydration
                [title]="language() == 'en' ? item?.name_L1 : item?.name"
                [titleId]="item?.id ?? null"
                [list]="item?.children"
                [megaMenu]="(item?.children?.length ?? 0) > 9"
                [width]="(item?.children?.length ?? 0) > 9 ? '34rem' : ''">
              </app-drop-menu>

            </li>
          }
        }

        @if (categories().length > 9) {
          <li class="category-with-icon">

            <i class="pi pi-ellipsis-h category-icon"></i>

            <app-more-category-drop-menu
              [title]="'moreCategories' | translate"
              [list]="categories()">
            </app-more-category-drop-menu>

          </li>
        }

      } @loading {
        <div class="d-flex justify-content-center gap-1 w-100">
          <div class="spinner-grow text-secondary"></div>
        </div>
      }

    </ul>
  </div>
</nav>
