<div *ngIf="false" class="dropdown w-100 position-relative">
  <button
    class="form-control dropdown-toggle d-flex align-items-center justify-content-between gap-2"
    type="button"
    data-bs-toggle="dropdown"
    data-bs-display="static"
    aria-expanded="false"
    (click)="onDropdownOpen()">

    <div class="d-flex align-items-center gap-2">
      <i class="text-main-color pi pi-map-marker fs-5"></i>
      <p class="m-0 fs-6">
        {{ (language() === 'en' ? selectedCountry()?.nameEn : selectedCountry()?.nameAr) || 'Country' }}
      </p>
    </div>

    <i class="pi pi-angle-down fs-5"></i>
  </button>

  <div class="dropdown-menu border-0 shadow p-3 w-100">
    @if (cityName()) {
      <a class="fs-6-1 d-block mb-2" (click)="getCountries()">
        <i class="pi pi-angle-left me-2"></i> {{ 'backTo' | translate }} {{ cityName() }}
      </a>
    }

    <input
      type="text"
      class="form-control"
      [ngModel]="searchText()"
      (ngModelChange)="searchText.set($event)"
      placeholder="{{ 'searchLocation' | translate }}"
    />

    <div class="mt-3 text-start">
      <ul class="mt-2 ads list-unstyled mb-0">
        @for (city of filteredData(); track $index) {
          <li>
            <a
              (click)="selectCity(city)"
              class="d-block py-2 fs-6-1 d-flex justify-content-between gap-2 align-items-center">
              {{ language() === 'en' ? city?.nameEn : city?.nameAr }}
            </a>
          </li>
        }
      </ul>

      <!-- اختيارية: رسالة لما مفيش نتائج -->
      @if (!isLoading() && filteredData().length === 0) {
        <div class="text-muted py-2">{{ 'noResults' | translate }}</div>
      }
    </div>
  </div>
</div>
