
.layout-wrapper {
  width: 88%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
 
}

.slide{
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .layout-wrapper {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .layout-wrapper {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
