.cat-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  &:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
  .cat-img {
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    background-color: #fef5f5;
  }
}
