.placeholder-label,
.pi-angle-down {
  color: #8e8e8e;
  font-size: 0.95rem;
}
.dropdown-menu {
  width: 17rem;
}
.num {
  padding: 0.2rem 1.2rem;
  border: 1px solid #ccc;
  cursor: pointer;
}
input:checked ~ label {
  background-color: #fbe0e0;
  border-color: #f08080;
}
input:checked ~ label i {
  display: block !important;
}
input {
  scale: 3;
}
.btn {
  width: 50%;
}
