/* custom-dropdown.component.scss */
.dropdown-wrapper {
  position: relative;
}
.dropdown-container {
  position: relative;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
  background: white;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .placeholder-label {
    color: #8e8e8e;
    font-size: 0.95rem;
  }

  .clear-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    margin-left: auto;
  }
}

.dropdown-panel {
  position: absolute;
  background: white;
  width: 100%;
  margin-top: 2px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 0.7rem;
  border-radius: 0 0 0.375rem 0.375rem;

  .dropdown-options {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 180px;
    overflow-y: auto;

    li {
      padding: 8px;
      cursor: pointer;
      &:hover {
        background: #f5f5f5;
      }

      &.selected {
        background: #fef5f5;
        font-weight: bold;
      }
    }
  }
}
