<div class="container py-4">
  <h1 class="text-center fw-bold mb-4">{{ 'changePassword' | translate }}</h1>

  <form [formGroup]="form" (ngSubmit)="submit()" class="d-flex flex-column gap-3 col-lg-6 col-md-8 col-12 mx-auto">
    
    <!-- كلمة المرور الحالية -->
    <div>
      <label class="form-label fw-bold">{{ 'currentPassword' | translate }}</label>
      <input
        type="password"
        formControlName="currentPassword"
        class="form-control"
        
      />
    </div>

    <!-- كلمة المرور الجديدة -->
    <div>
      <label class="form-label fw-bold">{{ 'newPassword' | translate }}</label>
      <input
        type="password"
        formControlName="newPassword"
        class="form-control"
        
      />
    </div>

    <!-- تأكيد كلمة المرور الجديدة -->
    <div>
      <label class="form-label fw-bold">{{ 'confirmNewPassword' | translate }}</label>
      <input
        type="password"
        formControlName="confirmNewPassword"
        class="form-control"
    
      />
    </div>

    <!-- زر الإرسال -->
    <button type="submit" class="btn btn-danger w-100 fw-bold fs-5" [disabled]="form.invalid">
      {{ 'Save' | translate }}
    </button>
  </form>
</div>
