.advertiser-profile {
  .img-container {
    width: 170px;
    min-width: 170px;
    height: 170px;
    border: 1px solid #dc143c6b;
    background-color: #fef5f5;
    font-size: 4rem;
  }
  .published-ads {
    border-bottom: 2px solid #111;
    width: fit-content;
  }
  .btn-main {
    padding-block: 0.6rem;
    border: 1px solid var(--text-main-color);
    &:hover {
      background-color: #fbe0e0;
    }
  }
  .verified-badge {
    background-color: #e7f1fd;
    color: #0f5dc4;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
  }
}



.profile-header-section {
  .list-group-item {
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: 500;
    padding: 0.75rem 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #f9f9f9;
    }

    i {
      font-size: 18px;
    }
  }

  .user-img {
    border: 2px solid #ddd;
    width: 60px;
    height: 60px;
  }
}
