<form [formGroup]="resetPasswordForm" aria-label="Reset Password Form" (ngSubmit)="resetPassword()">


  <div class="mb-4">
    <label for="code" class="mb-2 required fw-medium">
      {{ 'label.otpLabel' | translate }}
    </label>
    <input
      type="text"
      id="code"
      class="form-control"
      formControlName="code"
      inputmode="numeric"
      autocomplete="one-time-code"
      maxlength="6"
      [disabled]="isLoading()"
      (input)="clearValidationErrors(formControls?.code)"
      [class.is-invalid]="formControls?.code?.invalid && (formControls?.code?.dirty || formControls?.code?.touched)"
      placeholder="{{ 'Please Enter OTP' }}"
    >
    @if (formControls?.code?.invalid && (formControls?.code?.dirty || formControls?.code?.touched)) {
      <div class="mt-1">
        @if (formControls?.code?.errors?.['required']) {
          <small class="text-danger fs-8">{{ 'validation.required' | translate }}</small>
        }
        @else if (formControls?.code?.errors?.['pattern']) {
          <small class="text-danger fs-8">{{ 'الكود يجب أن يكون 6 أرقام' }}</small>
        }
      </div>
    }
  </div>

  <!-- كلمة المرور الجديدة -->
  <div class="mb-4">
    <label for="password" class="mb-2 required fw-medium">
      {{ 'label.newPassword' | translate }}
    </label>
    <input
      type="password"
      id="password"
      class="form-control"
      formControlName="password"
      autocomplete="new-password"
      [disabled]="isLoading()"
      (input)="clearValidationErrors(formControls?.password)"
      [class.is-invalid]="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)"
      placeholder="{{ 'placeholder.newPassword' | translate }}"
    >
    @if (formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)) {
      <div class="mt-1">
        @if (formControls?.password?.errors?.['required']) {
          <small class="text-danger fs-8">{{ 'validation.required' | translate }}</small>
        }
        @else if (formControls?.password?.errors?.['pattern']) {
          <small class="text-danger fs-8">{{ 'validation.passwordPattern' | translate }}</small>
        }
      </div>
    }
  </div>

  <!-- تأكيد كلمة المرور -->
  <div class="mb-4">
    <label for="confirmPassword" class="mb-2 required fw-medium">
      {{ 'label.confirmNewPassword' | translate }}
    </label>
    <input
      type="password"
      id="confirmPassword"
      class="form-control"
      formControlName="confirmPassword"
      autocomplete="new-password"
      [disabled]="isLoading()"
      (input)="clearValidationErrors(formControls?.confirmPassword)"
      [class.is-invalid]="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
      placeholder="{{ 'placeholder.confirmNewPassword' | translate }}"
    >
    @if (formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)) {
      <div class="mt-1">
        @if (formControls?.confirmPassword?.errors?.['required']) {
          <small class="text-danger fs-8">{{ 'validation.required' | translate }}</small>
        }
        @else if (formControls?.confirmPassword?.errors?.['pattern']) {
          <small class="text-danger fs-8">{{ 'validation.passwordPattern' | translate }}</small>
        }
        @else if (formControls?.confirmPassword?.errors?.['ConfirmPassword']) {
          <small class="text-danger fs-8">{{ 'validation.confirmPassword' | translate }}</small>
        }
      </div>
    }
  </div>

  <button class="btn btn-main-color w-100 mt-5" [disabled]="isLoading()">
    {{ 'auth.submitButton' | translate }}
  </button>
</form>
