.btn-main-color,
.btn-main-color:active {
  padding-block: 0.6rem;
  border: 1px solid var(--text-main-color);
  color: #fff;
  background-color: var(--text-main-color);
}
.form-control {
  padding-block: 0.6rem;

  &::placeholder {
    color: #8e8e8e !important;
  }
}
.required:after {
  content: "*";
  margin-inline: 0.2rem;
  color: var(--text-main-color);
}
