<!-- <div class="ad-owner">
  <h6 class="fs-5">{{ 'privateUser' | translate }}</h6>

  <div class="d-flex align-items-center gap-2 mt-4 owner-head">
    
    <div
      class="img-container rounded-circle fs-4 fw-bold d-flex justify-content-center align-items-center text-main-color">
      <img
        *ngIf="user?.userImageUrl && !imageBroken(); else bigFallback"
        [src]="user?.userImageUrl"
        alt=""
        class="w-100 h-100 rounded-circle"
        (error)="onAvatarError()">
      <ng-template #bigFallback>
        <img
          [src]="fallbackAvatar"
          alt=""
          class="w-100 h-100 rounded-circle">
      </ng-template>
    </div>

 
    <div class="owner-meta">
     
      <div class="owner-name-wrapper d-flex align-items-center gap-2">
        <div class="mini-avatar rounded-circle overflow-hidden">
          <img
            *ngIf="user?.userImageUrl && !imageBroken(); else miniFallback"
            [src]="user?.userImageUrl"
            alt="avatar"
            class="w-100 h-100">
          <ng-template #miniFallback>
            <span class="mini-fallback">
              {{ user?.fullName?.charAt(0) }}
            </span>
          </ng-template>
        </div>

        <p class="fs-6-1 fw-medium m-0 owner-name">
          {{ user?.fullName }}
        </p>
      </div>

      <small class="text-muted">
        {{ 'memberSince' | translate }}
        {{ formatCreateDate(user?.createDate) }}
      </small>

      <a
        class="fs-6-1 d-flex align-items-center gap-2 text-main-color mt-2 fw-medium"
        [routerLink]="['/advertiser-profile', user?.id]">
        <span>{{ 'seeProfile' | translate }}</span>
        <i class="pi pi-angle-right"></i>
      </a>
    </div>
  </div>

 
  <div class="d-flex flex-column gap-2 mt-4">
    <button
      class="btn fw-medium d-flex align-items-center justify-content-center gap-2 btn-main"
      (click)="onPhoneClick()">
      <i class="pi pi-phone text-main-color fs-5"></i>
      <span *ngIf="!showNumber()">{{ 'showPhoneNum' | translate }}</span>
      <span *ngIf="showNumber()" class="force-ltr" dir="ltr">
        <bdi>&lrm;{{ user?.phoneNumber }}</bdi>
      </span>
    </button>

    <button
      class="btn fw-medium d-flex align-items-center justify-content-center gap-2 btn-main"
      (click)="onChatClick()">
      <i class="pi pi-comment text-main-color fs-5"></i>
      <span>{{ 'chat' | translate }}</span>
    </button>

    <a
      class="btn fw-medium d-flex align-items-center justify-content-center gap-2 btn-green"
      (click)="onWhatsAppClick()">
      <i class="pi pi-whatsapp fs-5"></i>
      <span>{{ 'whatsApp' | translate }}</span>
    </a>
  </div>
</div> -->



<div class="ad-owner">
  <h6 class="fs-5">{{ 'privateUser' | translate }}</h6>

  <div class="d-flex align-items-center gap-2 mt-4 owner-head">
   
    <div
      class="img-container rounded-circle fs-4 fw-bold d-flex justify-content-center align-items-center text-main-color">
      <img
        *ngIf="user?.userImageUrl && !imageBroken(); else bigFallback"
        [src]="user?.userImageUrl"
        alt=""
        class="w-100 h-100 rounded-circle"
        (error)="onAvatarError()">
      <img
      class="owner-mini-img"
      src="/images/photo_2026-02-13_23-24-58.jpg"
      alt="user image"
    />
    </div>

    
   <div class="owner-meta">
  <div class="owner-name-wrapper d-flex align-items-center gap-2">
    

    <!-- <img
      class="owner-mini-img"
      src="/images/95028257-800x600.jpg"
      alt="user image"
    /> -->

    <p class="fs-6-1 fw-medium m-0 owner-name">
      {{ user?.fullName }}
    </p>
  </div>

  <small class="text-muted">
    {{ 'memberSince' | translate }}
    {{ formatCreateDate(user?.createDate) }}
  </small>

  <a
    class="fs-6-1 d-flex align-items-center gap-2 text-main-color mt-2 fw-medium"
    [routerLink]="['/advertiser-profile', user?.id]">
    <span>{{ 'seeProfile' | translate }}</span>
    <i class="pi pi-angle-right"></i>
  </a>
</div>

  </div>

 
  <div class="d-flex flex-column gap-2 mt-4">
    <button
      class="btn fw-medium d-flex align-items-center justify-content-center gap-2 btn-main"
      (click)="onPhoneClick()">
      <i class="pi pi-phone text-main-color fs-5"></i>

      <span *ngIf="!showNumber()">
        {{ 'showPhoneNum' | translate }}
      </span>

      <span *ngIf="showNumber()" class="force-ltr" dir="ltr">
        <bdi>&lrm;{{ user?.phoneNumber }}</bdi>
      </span>
    </button>

    <button
      class="btn fw-medium d-flex align-items-center justify-content-center gap-2 btn-main"
      (click)="onChatClick()">
      <i class="pi pi-comment text-main-color fs-5"></i>
      <span>{{ 'chat' | translate }}</span>
    </button>

    <a
      class="btn fw-medium d-flex align-items-center justify-content-center gap-2 btn-green"
      (click)="onWhatsAppClick()">
      <i class="pi pi-whatsapp fs-5"></i>
      <span>{{ 'whatsApp' | translate }}</span>
    </a>
  </div>
</div>
