<form [formGroup]="forgetPasswordForm" aria-label="Forget Password Form" (ngSubmit)="requestPasswordReset()">
  <div class="mb-4">
    <label class="mb-2 required fw-medium">
      {{ 'label.phone' | translate }}
    </label>

    <div class="form-control p-0 d-flex align-items-center"
         [class.is-invalid]="formControls?.phone?.invalid && (formControls?.phone?.dirty || formControls?.phone?.touched)">

      <!-- كود الدولة -->
      <ng-select
        formControlName="code"
        [items]="countriesPhoneCode()"
        [clearable]="false"
        placeholder="code"
        [searchable]="true"
        [labelForId]="'code'"
        [bindLabel]="'code'">
      </ng-select>

      <!-- رقم الهاتف -->
      <input
        type="tel"
        class="form-control border-0"
        formControlName="phone"
        autocomplete="tel"
        [disabled]="isLoading()"
        (input)="clearValidationErrors(formControls?.phone)"
        placeholder="{{ 'placeholder.phoneNumber' | translate }}">
    </div>

    @if (formControls?.phone?.invalid && (formControls?.phone?.dirty || formControls?.phone?.touched)) {
      <div class="mt-1">
        @if (formControls?.phone?.errors?.['required']) {
          <small class="text-danger fs-8">
            {{ 'validation.phoneNumber' | translate }}
          </small>
        }
        @if (formControls?.phone?.errors?.['digitsOnly']) {
          <small class="text-danger fs-8 d-block">
            {{ 'من فضلك أدخل أرقام فقط' }}
          </small>
        }
        @if (formControls?.phone?.errors?.['phoneLength']) {
          <small class="text-danger fs-8 d-block">
            {{ 'رقم الهاتف غير صحيح. الطول المطلوب: ' }}
            {{ formControls?.phone?.errors?.['phoneLength']?.required }}
          </small>
        }
      </div>
    }
  </div>

  <button class="btn btn-main-color w-100 mt-5" [disabled]="isLoading()">
    {{ 'auth.submitButton' | translate }}
  </button>
</form>
