<div class="advertiser-profile py-4">
  <div class="container">
    <div class="d-flex flex-sm-nowrap flex-wrap gap-sm-5 gap-4">
    
      <div class="flex-grow-1">
        <div class="border-bottom pb-4">
          <h1 class="fs-2 fw-bold m-0 text-capitalize">{{ profileDetails().fullName }}</h1>
        </div>

    
        <div class="mt-4">
         

          <div class="mt-4">
            @if(ads()?.length){
              <p class="fs-6-1 m-0">
                {{ 'showing' | translate }} 1 - {{ getCount() }}
                {{ 'outOf' | translate }} {{ totalAds() }} {{ 'ads' | translate }}
              </p>
            }

          <div class="row row-cols-1 row-cols-md-2 g-4 mt-2 mx-0">
  @for (item of ads(); track $index) {
    <div class="col">
      <app-ad-card [ad]="item"></app-ad-card>
    </div>
  } @empty {
    
  }
</div>


            @if(ads()?.length){
              <div class="d-flex justify-content-center">
                <app-paginator
                  [totalRecords]="totalAds()"
                  [pageLinkSize]="3"
                  (pageChange)="onPageChange($event)">
                </app-paginator>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
